.Button {
  color: black;
  background-color: map-get($colors, "primary");
  padding: 0.625rem 0.875rem 0.625rem 0.75rem;
  @include flex();
  gap: 0.3125rem;
  border-radius: 3px;
  font-family: map-get($fonts, "subtitle");

  &-img {
    width: 1rem;
    height: 1rem;
  }

  &-button {
    cursor: pointer;
  }

  &--form {
    width: 21.875rem;
  }
}

.Button:hover {
  box-shadow: 0 4px 4px map-get($colors, "black");
  cursor: pointer;
}
