.Button {
  color: black;
  padding: 0.625rem 0.875rem 0.625rem 0.75rem;
  @include flex();
  gap: 0.3125rem;
  border-radius: 3px;
  font-family: map-get($fonts, "subtitle");
  position: relative;

  &-img {
    width: 1rem;
    height: 1rem;
  }

  &-button {
    cursor: pointer;
  }

  &--form {
    width: 21.875rem;
    border: 1px solid #c4c4c4;
    @include flex(flex, center, center);
  }

  &--primary {
    background-color: map-get($colors, "primary");
  }

  &--transparent {
    background-color: map-get($colors, "white");
  }

  &-svg {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 1rem;
    color: map-get($colors, "primary");
  }
}

.Button:hover {
  box-shadow: 0 4px 4px map-get($colors, "black");
  cursor: pointer;
}
