.Main {
  margin: 0.625rem 0.875rem 0 0.875rem;

  &-user {
    @include flex(flex, flex-end, center);
    padding: 0.625rem 0 0.625rem 0;
  }

  &-p {
    font-family: map-get($fonts, "subtitle");
    font-size: 1.25em;
  }

  &-span {
    font-weight: bold;
  }

  &-card {
    display: grid;
    row-gap: 1.25rem;
    grid-template-columns: auto auto auto auto;
  }
}
