.Header {
  @include flex(flex, space-between, center);
  gap: 2rem;
  background-color: map-get($colors, "white");
  height: 3.125rem;
  margin: 0.625rem 1.5rem 0 1.5rem;
  padding: 0 0.9375rem 0 0.9375rem;
  border-radius: 0.1875rem;

  &-img {
    width: 2rem;
    height: 2rem;
  }

  &-nav {
    @include flex(flex, center, center);
  }

  &-ul {
    width: 18.75rem;
    @include flex(flex, space-evenly, center);
    gap: 2rem;
  }

  &-a {
    font-size: 1rem;
    color: black;
    font-family: map-get($fonts, "subtitle");
  }

  &-button {
    position: relative;
    right: 0;
  }
}
