.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background-color: #fafafa;
  height: 3.125rem;
  margin: 0.625rem 0.625rem 0 0.625rem;
  padding: 0 0.9375rem 0 0.9375rem;
  border-radius: 0.1875rem;

  &-img {
    width: 2rem;
    height: 2rem;
  }
  &-nav {
    display: flex;
  }
  &-ul {
    width: 18.75rem;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }
  &-a {
    font-size: 1rem;
    color: black;
  }
}
